test

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars

# Pulumi
pulumi/.pulumi/
pulumi/Pulumi.*.yaml
pulumi/venv/
pulumi/.venv/

# Ansible
*.retry
.vault_pass
ansible/inventory/*.pyc
__pycache__/