
services:
  {{ app_name }}:
    image: {{ docker_image }}:{{ docker_tag }}
    container_name: {{ app_name }}
    ports:
      - "{{ app_port }}:{{ app_internal_port }}"
    environment:
      # Add environment variables here
      SECRET_KEY: "{{ app_secret_key }}"
    restart: unless-stopped
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
