
services:
  {{ web_app_name }}:
    image: {{ web_app_image }}:{{ web_app_tag }}
    container_name: {{ web_app_name }}
    ports:
      - "{{ web_app_port }}:{{ web_app_internal_port }}"
    environment:
      # Add environment variables here
      SECRET_KEY: "{{ web_app_secret_key }}"
    restart: unless-stopped
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
